<div class="row">
    <form class="col s4 center">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" type="text" class="validate" name="username">
                <label for="username">Username</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <button id='submitLogin' class="btn submit-login waves-effect waves-light">Submit
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
