<img src="{{image}}" alt="" class="circle">
<span class="title">{{name}}</span>
<a id='addFriend' class="hide waves-effect waves-light secondary-content btn">Add Friend</a>
<a id='waitingApproval' class="hide waves-effect waves-light secondary-content btn">Waiting Approval</a>
<a id='acceptRequest' class="hide waves-effect waves-light secondary-content btn">Accept Request</a>
<span id='friendDisclaimer' class="secondary-content hide">{{name}} Is your friend!</span>